Repository jennkim0409/CS130_Project, pull requests merged in 2024-02, with the labels that each got.

#28 Added Book Bookshelf models, added routes for adding and moving books
  backend/controllers/handle_books.js
  backend/controllers/registration.js
  backend/index.js
  backend/models/book.js
  backend/models/bookshelf.js
  backend/models/user.js
Labels: backend

#37 Front end UI changes for individual board pages
  frontend/src/assets/add.png
  frontend/src/assets/add.svg
  frontend/src/assets/back.svg
  frontend/src/components/Modal/Modal.css
  frontend/src/components/Modal/Modal.js
  frontend/src/components/ModalAndPin/ModalAndPin.css
  frontend/src/components/ModalAndPin/ModalAndPin.js
  frontend/src/components/Pin/Pin.css
  frontend/src/pages/Board/Board.css
  frontend/src/pages/Board/Board.js
  frontend/src/pages/Boards/Boards.css
  frontend/src/pages/Boards/Boards.js
Labels: frontend

#38 Created an option to sign out in accounts page
  frontend/src/App.js
  frontend/src/pages/Account/Account.css
  frontend/src/pages/Account/Account.js
Labels: frontend

#44 user-router-setup
  backend/controllers/registration.js
  backend/controllers/userRouter.js
  backend/index.js
  backend/models/user.js
Labels: backend

#50 Name & genre preferences saved during onboarding
  frontend/src/components/SignupPersonalize/SignupPersonalize.js
Labels: fullstack
