Repository jennkim0409/CS130_Project, pull requests merged in 2024-03, with the labels that each got.

#58 Bookshelves populated with books from DB (implementation 2)
  frontend/src/components/Bookshelf/Bookshelf.jsx
Labels: fullstack

#59 Added feature for user to enter text in visual boards
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Modal/Modal.css
  frontend/src/components/Modal/Modal.js
  frontend/src/components/ModalAndPin/ModalAndPin.css
  frontend/src/components/ModalAndPin/ModalAndPin.js
  frontend/src/components/Pin/Pin.js
  frontend/src/components/TextSize/TextSize.js
  frontend/src/pages/Board/Board.js
Labels: frontend

#63 Removed required fields from searchBooksName route
  backend/controllers/handle_books.js
  backend/models/book.js
Labels: backend

#64 Limit Genre Preferences
  frontend/src/components/GenrePreferences/GenrePreferences.js
  frontend/src/components/Pin/Pin.css
  frontend/src/components/SignupPersonalize/SignupPersonalize.js
Labels: bug

#65 56 backend generates book recommendations
  backend/controllers/recommendationRouter.js
  backend/index.js
Labels: backend

#66 Search Function Frontend Remove Fields
  frontend/src/components/SignupPersonalize/SignupPersonalize.js
  frontend/src/pages/Shelves/Shelves.js
Labels: bug

#69 Implemented Frontend of Account/Settings page for user
  frontend/src/components/SignupPersonalize/SignupPersonalize.js
  frontend/src/pages/Account/Account.css
  frontend/src/pages/Account/Account.js
Labels: frontend

#71 Updated book routes to track order when moved, removed. Added clearBookshelf route
  backend/controllers/handle_books.js
  backend/models/bookshelf.js
Labels: backend

#72 Updated item model and added a getBoardsbyBook route
  backend/controllers/board.js
  backend/controllers/handle_books.js
  backend/models/board.js
  backend/models/item.js
Labels: backend

#74 Update or View Existing Pins
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Modal/Modal.css
  frontend/src/components/Modal/Modal.js
  frontend/src/components/ModalAndPin/ModalAndPin.js
  frontend/src/components/Pin/Pin.js
Labels: frontend

#78 Bookshelves: backend fully connected
  frontend/src/components/Bookshelf/Bookshelf.jsx
Labels: fullstack

#85 added resize_image function to set max quality/size
  frontend/src/components/Modal/Modal.js
Labels: bug

#86 Frontend Board Bugs Fixed
  frontend/src/components/Modal/Modal.js
  frontend/src/components/Pin/Pin.js
Labels: bug

#83 Account settings connected w/ backend
  frontend/src/pages/Account/Account.js
Labels: fullstack

#88 Board Info Display
  frontend/src/components/LoginSignup/LoginSignup.js
  frontend/src/components/Modal/Modal.js
  frontend/src/pages/Account/Account.js
  frontend/src/pages/Board/Board.css
  frontend/src/pages/Board/Board.js
  frontend/src/pages/Shelves/Shelves.js
Labels: frontend

#91 Frontend Discover/Sharing Feature
  frontend/src/App.js
  frontend/src/components/Navbar/Navbar.css
  frontend/src/pages/Board/Board.css
  frontend/src/pages/Board/Board.js
  frontend/src/pages/Boards/Boards.js
Labels: frontend

#92 Added updateBoardVisibility route
  backend/controllers/board.js
Labels: backend

#89 Explore UI bugs
  frontend/src/components/Bookshelf/Bookshelf.jsx
  frontend/src/components/Bookshelf/Grid.jsx
  frontend/src/components/Bookshelf/reading.json
  frontend/src/components/Bookshelf/recommendations.json
  frontend/src/components/Bookshelf/recommended.json
  frontend/src/components/Recommendations/Recommendations.jsx
  frontend/src/pages/Explore/Explore.js
Labels: bug

#94 Board visibility & board discovery: full stack
  backend/controllers/board.js
  backend/models/board.js
  frontend/src/pages/Board/Board.js
  frontend/src/pages/Boards/Boards.js
Labels: fullstack

#98 [BUG] Account Name Setting
  frontend/src/components/LoginSignup/LoginSignup.js
  frontend/src/pages/Account/Account.js
Labels: bug

#97 Finishing Changes for Frontend Discovery Feature
  frontend/src/components/Modal/Modal.js
  frontend/src/components/ModalAndPin/ModalAndPin.js
  frontend/src/components/Pin/Pin.js
  frontend/src/pages/Board/Board.css
  frontend/src/pages/Board/Board.js
Labels: frontend

#99 Frontend Token Bug
  frontend/src/components/Bookshelf/Bookshelf.jsx
  frontend/src/components/ExpiredToken.js
  frontend/src/components/ModalAndPin/ModalAndPin.js
  frontend/src/components/Navbar/NavbarLayout.js
  frontend/src/components/Recommendations/Recommendations.jsx
  frontend/src/pages/Account/Account.js
  frontend/src/pages/Board/Board.js
  frontend/src/pages/Boards/Boards.js
  frontend/src/pages/Explore/Explore.js
  frontend/src/pages/Shelves/Shelves.js
Labels: bug

#106 Added check to prevent duplicate addition of books
  backend/controllers/handle_books.js
Labels: backend
